.main {
  /*background-color: #E1F3FA;*/
  background-image: linear-gradient(to bottom right, #E1F3FA, #ECEDF7);
  padding: 40px;
  border-radius: 20px;
}

.bottom{
  margin-top:25px;
}

.location-title {
  line-height: 43px;
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 0;
  margin-bottom: 24px;
  margin-top: 0;
  color: #1c0f37;
}

.search-button {
  border-radius: 0px 0.25rem 0.25rem 0px;
  background: white;
  color: black;
  border: 1px solid #ced4da;
}

.current-weather-title {
  line-height: 46px;
  font-weight: 600;
  padding-bottom: 0;
  margin-top: 0;
  color: #1c0f37;
  font-size: 20px;
}

.current-weather-main-info{
  text-align: center;
  min-width: 130px;
}

.weather-image {
  height: 100px;
}

.weather-image-temperature{
  line-height: 46px;
  font-weight: 500;
  font-size: 46px;
  margin: 0;
  color: #1c0f37;
}

.current-weather-parameter{
  text-align: start;
  font-weight: 400;
  padding-bottom: 0;
  margin-top: 0;
  color: #1c0f37;
}

.current-weather-parameter-value{
  text-align: end;
  font-weight: 300;
  padding-bottom: 0;
  margin-top: 0;
  color: #1c0f37;
}

.day-weather-main-info:not(:first-child){
  border-left: 1px solid #c4c4c4;
}

.day-weather-title{
  font-weight: 500;
  padding-bottom: 0;
  margin-top: 0;
  color: #1c0f37;
  font-size: 18px;
}

.day-weather-image{
  height: 75px;
}

.day-weather-parameter{
  text-align: start;
  font-weight: 400;
  padding-bottom: 0;
  margin-top: 0;
  color: #1c0f37;
  font-size: 16px;
}

.day-weather-parameter-value{
  text-align: end;
  font-weight: 300;
  padding-bottom: 0;
  margin-top: 0;
  color: #1c0f37;
  font-size: 16px;
}

.history-item{
  display: flex;
}

.history-item-name{
  text-align: start;
  font-weight: 400;
  margin-top: 0;
  color: #1c0f37;
  font-size: 16px;
  margin-bottom: 0px;
  cursor: pointer;
}

.cross {
  height: 16px;
  align-self: center;
  cursor: pointer;
  margin-left: 10px;
}

#spinner {
  display: none;
  position: absolute;
  right: 50%;
}


@media only screen and (max-width:750px) {

  .current-weather-title {
    text-align: center;
  }

  .current-weather-info {
    display: block;
  }

  .day-weather-main-info:not(:first-child) {
    border-left: none;
  }

}
